<head> </head>
<body>
  <header>
    <div>
      <img src="<%= require('../img/logo.png') %>" alt="My Radio Logo" />
      <h1>Rad<span class="rose">.io</span></h1>
    </div>
  </header>
  <div id="root">

  </div>
  <div id="content">
    <option id="result">
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
      <div>
        <img class="img" src="https://www.franceinter.fr/img/logo-app.png" alt="">
        <h4>France Inter</h4>
        <h5>France</h5><h5>National</h5><h5>Info</h5>
      </div>
    </option>
    <div id="player-bottom">
      <div id="player-info">
        <img
          src="https://www.franceinter.fr/img/logo-app.png"
          alt="France Inter"
        />
        <div id="player-text">
          <h1>France Inter</h1>
          <div id="player-tag">
            <h2>France</h2>
            <h2>Information</h2>
          </div>
        </div>
      </div>
      <div id="player-navigation">
        <img id="player-speaker" src="<%= require('../img/volume.png') %>">
        <input type="range" min="1" max="100" value="100" id="myNumber">
        <img id="player-speaker" src="<%= require('../img/volume.png') %>">
        <input id="player-button" type="image" src="<%= require('../img/pause.png') %>" alt="Login">
      </div>
    </div>
  </div>

  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  osfdhczqoeihdfcopziqehfcfhoqezihfcoi <br />
  <footer></footer>
</body>
